<div class="w-screen h-screen overflow-hidden">
  <div class="flex w-full h-full">
    <div class="h-full flex-shrink-0 transition-all duration-300" [ngClass]="{'w-18': isCollapsed, 'w-64': !isCollapsed}">
      <app-asidebar [isCollapsed]="isCollapsed" (isCollapsedChange)="onSidebarCollapsedChange($event)"></app-asidebar>
    </div>
    <div class="h-full flex flex-col flex-1 min-w-0 transition-all duration-300">
      <div class="flex-1 bg-gray-50 overflow-y-auto">
        <router-outlet />
      </div>
    </div>
  </div>
</div>
