<div class="w-full h-full flex flex-col">
	<!-- Header Section -->
	<div *ngIf="!eventStates.isLoading" class="px-8 py-3 shadow-lg">
		<div class="flex items-center gap-4">
			<div class="p-4 rounded-lg">
				<svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
				</svg>
			</div>
			<div>
				<h1 class="text-3xl font-bold ">{{ event.title }}</h1>
				<p class="text-sm mt-1">Détails et statistiques de l'événement</p>
			</div>
		</div>
	</div>

	<!-- Content Section -->
	<div class="flex-1 overflow-y-auto flex flex-col bg-white shadow pt-2">
		<app-loading *ngIf="eventStates.isLoading" class="flex-1"></app-loading>
		<div *ngIf="!eventStates.isLoading" class="flex-1 p-4">
			<app-state-event [eventStates]="eventStates.value"></app-state-event>
		</div>
	</div>
</div>