<button
  class="bg-blue-600 hover:bg-blue-700 text-white px-5 py-2 rounded text-sm font-medium shadow transition cursor-pointer"
  (click)="openModal()"
>
  ➕ Créer un événement
</button>

<div
  id="eventModal"
  class="fixed inset-0 flex items-center justify-center hidden z-50 bg-opacity-40 backdrop-blur-[2px]"
>
  <div class="bg-white w-full max-w-lg p-6 rounded shadow-xl relative">
    <button
      (click)="closeModal()"
      class="absolute top-3 right-3 text-gray-500 cursor-pointer hover:text-red-500 text-xl font-bold"
      *ngIf="!isSubmitting"
    >
      &times;
    </button>

    <h2 class="text-lg font-semibold mb-4 text-gray-800">
      Créer un nouvel événement
    </h2>

    <form (submit)="onSubmit()" novalidate id="eventForm" class="space-y-4">
      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1"
          >Nom de l'événement
        </label>
        <input
          type="text"
          required
          [value]="event.title()"
          (input)="event.title.set($any($event.target).value)"
          class="w-full border cursor-pointer border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
        />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1"
          >Description</label
        >
        <textarea
          type="text"
          placeholder="Description de l'événement"
          required
          [value]="event.description()"
          (input)="event.description.set($any($event.target).value)"
          class="w-full border border-gray-300 cursor-pointer rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
        >
        </textarea>
      </div>

      <div class="grid grid-cols-2 gap-4">
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-1"
            >Date de début</label
          >
          <input
            type="date"
            required
            [value]="event.startedAt()"
            (input)="event.startedAt.set($any($event.target).value)"
            class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
          />
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-1"
            >Date de fin</label
          >
          <input
            type="date"
            required
            [value]="event.endAt()"
            (input)="event.endAt.set($any($event.target).value)"
            class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
          />
        </div>
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1"
          >Lieu de l'événement
        </label>
        <input
          type="text"
          required
          [value]="event.localisation()"
          (input)="event.localisation.set($any($event.target).value)"
          class="w-full border cursor-pointer border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
        />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1"
          >Maximun nombre de place</label
        >
        <input
          type="number"
          placeholder="Ex: 10"
          required
          class="w-full border cursor-pointer border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
        />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1"
          >Catégorie</label
        >
        <select
          required
          [value]="event.category()"
          (input)="event.category.set($any($event.target).value)"
          class="w-full border cursor-pointer border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
        >
          <option value="">-- Choisir une catégorie --</option>
          <ng-container *ngFor="let category of categories">
            <option [value]="category.id">{{ category.name }}</option>
          </ng-container>
        </select>
      </div>

       <div>
        <label class="block text-sm font-medium text-gray-700 mb-1"
          >Organisateur</label
        >
        <select
          required
          [value]="event.organizer()"
          (input)="event.organizer.set($any($event.target).value)"
          class="w-full border cursor-pointer border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
        >
          <option value="">-- Choisir une organisateur --</option>
          <ng-container *ngFor="let organizer of organizers">
            <option [value]="organizer.id">{{ organizer.name }}</option>
          </ng-container>
        </select>
      </div>

      <div class="flex justify-end space-x-3 pt-4">
        <button
          type="button"
          (click)="closeModal()"
          class="bg-gray-200 cursor-pointer hover:bg-gray-300 px-4 py-2 rounded-lg text-sm font-medium"
          *ngIf="!isSubmitting"
        >
          Annuler
        </button>
        <button
          type="submit"
          class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-lg text-sm font-medium cursor-not-allowed"
          *ngIf="isSubmitting"
          disabled
        >
          <app-btn-loading></app-btn-loading>
        </button>

        <button
          type="submit"
          class="bg-blue-600 cursor-pointer hover:bg-blue-700 text-white px-4 py-2 rounded-lg text-sm font-medium"
          *ngIf="!isSubmitting"
        >
          Créer l'événement
        </button>
      </div>
    </form>
  </div>
</div>
